@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

header{
    width: 1440px;
    height: 692px;
    background-attachment: fixed;
    background-image: url("../assets/coverheader.jpg");
}

.wrapper{
    max-width: 1440px;
    margin: auto;
}

article{
    width: 1440px;
    height: 692px;
}

#features3{
    background-color: #252B42;
    width: 1440px;
    height: 813px;
    margin-bottom: 1em;
}

#features11{
    width: 1440px;
    height: 692px;
}

#section1{
    height: 409px;
    background-color: #252B42;
}

#section2{
    height: 350px;
    background-color: rgba(0, 0, 0, 0.5);
}

#testimonials{
    height: 591px;
    background-color: #252B42;
    margin-top: 1em;
}

h3{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 13px;
    margin-bottom: 13px
}

.h3header{
    width: 187px;
    height: 58px;
    margin-left: 136px;
    margin-top: 23px;
    gap: 10px;
    
}

nav{
    display: flex;
    flex-direction: row;
    width: 1322px;
    height: 104px;
    margin-left: 59px;
    margin-right: 59px;
}

.navlist{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 21px;
   list-style-type: none;
   align-self: center;
   margin-left: auto;
}

.navlist li a{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

#navbartogglericon{
    width: 24px;
    height: 13.71px;
    margin-top: 45px;
    margin-left: 141px;
}

#logo1{
    width: 20px;
    height: 20px;
    margin-top: 42px;
    margin-left: 42px;
}

#logo2{
    width: 16px;
    height: 14.93px;
    margin-top: 45px;
}

.maincontentheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    width: 860px;
    height: 398px;
    margin-left: 290px;
    margin-top: 25px;
}

h1{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.f3maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 195px;
    width: 1050px;
    height: 806px;
}

.f3container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 0px;
    width: 1050px;
    height: 190px;;
}

.f3container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1046px;
    height: 416px;
}

#f3h2{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px;
}

#f3paragraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.f3row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.f3infcard{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 15px;
    width: 328px;
    height: 193px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}

.f3infcardlogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    height: 48px;
}

#f3h5{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.tsmnmaincon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1050px;
    height: 584px;
    margin-left: 195px;
}

.row1tsmn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 80px;
    width: 864px;
    height: 100px;
}

h2{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0;
}

#tsmnparagraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0;
}

.row2tsmn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1048px;
    height: 244px;
    margin-top: 80px;
}

.tsmncard{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 35px;
    width: 327px;
    height: 244px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.tsmncardcontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 257px;
    height: 184px;
}

#h6tsmn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
}

#team{
    height: 732px;
    width: 1440px;
    background-color: #252B42;
}

.teammaincon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 195px;
    gap: 80px;
    width: 1050px;
    height: 713px;
}

.teamrow1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 864px;
    height: 100px;
    margin-top: 80px;
}

#teamparagraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px;
}

.teamrow2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1046px;
    height: 373px;
}

.teamcontentcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 328px;
    height: 373px;
    background: #FFFFFF;
}

#teamprofilephoto{
    height: 231px;
}

.teamcardmaincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 232px;
    height: 142px;
}

#h5team{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 30px;
    margin-bottom: 5px;
}

#h6team{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 0px;
    margin-bottom: 5px;
}

.teamdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 92px;
    height: 24px;
}