@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

header{
    width: 1440px;
    height: 645px;
    background-attachment: fixed;
    background-image: url("../assets/coverheader.jpg");
}

.wrapper{
    max-width: 1440px;
    margin: 0 auto;
    background-color: #252B42;
}

.one{
    background: #252B42;
}

.header-one{
    max-width: 1440px;
    margin: 0 auto;
}

article{
    width: 1440px;
    height: 692px;
}

#features3{
    background-color: #252B42;
    width: 1440px;
    height: 813px;
}

#features11{
    width: 1440px;
    height: 692px;
}

#f11-section1{
    height: 409px;
    background-color: #252B42;
}

#f11-section2{
    height: 350px;
    background-image: url(..//assets/background.svg);
}

.features11-maincont{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 1050px;
    height: 752px;
    margin-left: 195px;
}

.cta{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 347px;
    height: 48px;
}

#buttontext-header{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 28px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0;
}

#button1{
    background-color: #D0A144;
    border-radius: 37px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    width: 182px;
    height: 48px;
    border-color: transparent;
}

#button1:hover{
    background-color: #252B42;
    transition: 1s ease-in-out;
}

#button2{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 36px;
    gap: 10px;
    width: 155px;
    height: 48px;
    border: 1px solid;
    border-radius: 37px;
    background: transparent;
    border-color: #ffffff;
}

#button2:hover{
    background-color: #252B42;
    transition: 1s ease-in-out;
}

#features11-row1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 864px;
    height: 100px;
    margin-top: 80px;
}

#features11-row2{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 877px;
    height: 442px;
    background-image: url(../assets/media\ bg-cover.svg);
}

#features11-h2{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

#features11-p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

#testimonials{
    height: 591px;
    background-color: #252B42;
    margin-top: 1em;
}

h3{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    text-align: left;
    margin-top: 13px;
    margin-bottom: 13px
}

.h3header{
    width: 187px;
    height: 58px;
    margin-left: 136px;
    margin-top: 23px;
    gap: 10px;
    
}

nav{
    display: flex;
    flex-direction: row;
    width: 1322px;
    height: 104px;
    margin-left: 59px;
    margin-right: 59px;
}

.navlist{
   display: flex;
   flex-direction: row;
   align-items: center;
   padding: 0px;
   gap: 21px;
   list-style-type: none;
   align-self: center;
   margin-left: auto;
}

.navlist a {
    display: inline-block;
    color: #00bfff; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
}
.navlist a:after {
    background-color: #230651; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
.navlist a:hover:after,
.navlist a:focus:after {
    width: 100%;
}
     

.navlist li a{
    text-decoration: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

#navbartogglericon{
    width: 24px;
    height: 13.71px;
    margin-top: 45px;
    margin-left: 141px;
}

#logo1{
    width: 20px;
    height: 20px;
    margin-top: 42px;
    margin-left: 42px;
}

#logo2{
    width: 16px;
    height: 20px;
    margin-top: 42px;
}

.maincontentheader{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px;
    width: 860px;
    height: 398px;
    margin-left: 290px;
    margin-top: 25px;
}

h1{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 900;
    font-size: 58px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 40px;
}

h4{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.f3maincontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 195px;
    width: 1050px;
    height: 806px;
}

.f3container1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 0px;
    width: 1050px;
    height: 190px;;
}

.f3container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1046px;
    height: 416px;
}

#f3h2{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px;
}

#f3paragraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
}

.f3row{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
}

.f3infcard{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 35px 40px;
    gap: 15px;
    width: 328px;
    height: 193px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
}

.f3infcardlogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 15px;
    height: 48px;
}

#f3h5{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #252B42;
}

.tsmnmaincon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1050px;
    height: 584px;
    margin-left: 195px;
}

.row1tsmn{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    margin-top: 80px;
    width: 864px;
    height: 100px;
}

h2{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0;
}

#tsmnparagraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 0;
}

.row2tsmn{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1048px;
    height: 244px;
    margin-top: 80px;
}

.tsmncard{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 35px;
    width: 327px;
    height: 244px;
    background: #FFFFFF;
    border: 1px solid #DEDEDE;
    border-radius: 5px;
}

.tsmncardcontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 257px;
    height: 184px;
}

#h6tsmn{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #737373;
    margin: 0;
}

#team{
    height: 732px;
    width: 1440px;
    background-color: #252B42;
}

.teammaincon{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 195px;
    gap: 80px;
    width: 1050px;
    height: 713px;
}

.teamrow1{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 864px;
    height: 100px;
    margin-top: 80px;
}

#teamparagraph{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin: 10px;
}

.teamrow2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
    width: 1046px;
    height: 373px;
}

.teamcontentcard{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 328px;
    height: 373px;
    background: #FFFFFF;
}

#teamprofilephoto{
    height: 231px;
}

.teamcardmaincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    width: 232px;
    height: 142px;
}

#h5team{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.1px;
    color: #252B42;
    margin-top: 30px;
    margin-bottom: 5px;
}

#h6team{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.2px;
    color: #737373;
    margin-top: 0px;
    margin-bottom: 5px;
}

.teamdiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 10px;
    width: 92px;
    height: 24px;
}

#contact{
    display: flex;
    flex-direction: column;
    height: 821px;
    width: 1440px;
    background-image: url(..//assets/covercontactbackground.jpg);
}

.contactbottomdiv{
    height: 151px;
    width: 1440px;
    background: #FAFAFA;
}

.contactmainbox{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1050px;
    height: 670px;
    margin-left: 195px;
}

.contactmaincontent{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 602px;
    height: 572px;
    margin-top: 50px;
}

.contactdiv{
    width: 458px;
    height: 74px;
    margin-top: 40px;
    margin-right: 144px;
}

#contact-h5{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.1px;
    margin: 0;
    color: #FFFFFF;
}

#contact-h2{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: left;
    letter-spacing: 0.2px;
    margin: 0;
}

.contact-cardcontent{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 602px;
    height: 280px;
    margin-top: 40px;
}

.contact-button{
    margin-top: 40px;
    margin-right: 387px;
}

.contact-form-upper{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 597px;
    height: 50px;
}

.contact-form-middle{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 598px;
    height: 50px;
}

.contact-form-bottom{
    box-sizing: border-box;

    width: 598px;
    height: 140px;

    background: #F9F9F9;
    /* muted-color */

    border: 1px solid #BDBDBD;
    border-radius: 5px;
}

.middleform{
    height: 50px;  
}

.contact-bottomrow{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0px;
    width: 1050px;
    height: 151px;
    margin-left: 195px;
}

.contact-bottomcontent{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 360px;
    width: 1051px;
    height: 62px;
}

#contact-h3{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: 0.1px;
    color: #252B42;
}

#contact-p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
    color: #737373;
}

.contact-bottomcontrow2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    width: 236px;
    height: 58px;

}

.footer{
    width: 1440px;
    background-color: #252B42;
}

.footer-section1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 40px 0px;
    width: 1050px;
    height: 138px;
    margin-left: 195px;
}

.footer-row1{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 570px;
    width: 1049px;
    height: 58px;
}

#row1-div1{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 236px;
    height: 58px;
}

#row1-div2{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 20px;
    width: 243px;
    height: 24px;
}

.footer-row2{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 30px;
    width: 1041px;
    height: 170px;
    margin-left: 195px;
    margin-top: 70px;
}

.row2-column{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 148px;
    height: 170px;
}

#footer-h5{
    font-family: 'Martel';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.1px;
    color: #FFFFFF;
    margin-bottom: 20px;
    margin-top: 0;
}

#row2-column-div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 10px;
    width: 93px;
    height: 126px;
}

 #row2-column-div a {
    display: inline-block;
    color: #BDBDBD; /* Цвет обычной ссылки */
    line-height: 1;
    text-decoration: none; /* Убираем подчеркивание */
    cursor: pointer;
}
 #row2-column-div a:after {
    background-color: #ffffff; /* Цвет линии при наведении на нее курсора мыши */
    display: block;
    content: "";
    height: 2px; /* Высота линии */
    width: 0%;
    -webkit-transition: width .3s ease-in-out;
    -moz--transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
 #row2-column-div a:hover:after,
 #row2-column-div a:focus:after {
    width: 100%;
}
     

#footer-a{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    text-decoration: none;
    white-space: nowrap;
}

.row2-lastcolumn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 20px;
    width: 321px;
    height: 131px;
}

#row2-lastcolumn-lastdiv{
    width: 321px;
    height: 87px;
    display: grid;
    grid-template-columns: 321px 117px;
    grid-template-rows: 58px 28px;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

#footer-p{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 28px;
    letter-spacing: 0.2px;
    color: #BDBDBD;
    margin: 0;
    grid-area: 2 / 1 / 3 / 2;
}

.footer-section3{
    background: linear-gradient(270deg, #295C7A -1.04%, #0072B5 100%);
    height: 74px;
}

.footer-row3{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 1050px;
    height: 74px;
    margin-left: 195px;
}

#footer-row3-p{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.2px;
    color: #FFFFFF;
    margin-top: 25px;
}